.skeleton-container {
    display: flex;
    padding: 24px 40px 32px 24px;
    margin: 0px auto;
    width: 579px;
    height: 192px;
    background: var(--white);
    border: 1px solid var(--grey-2);
    box-sizing: border-box;
    border-radius: 8px;  
    flex-wrap: wrap;   
}

.circle {
    display: block;
    height: 64px;
    width: 64px;
    border-radius: 50%;
    background: var(--grey-2);
    flex-shrink: 0;
}

span {
    background: var(--grey-2);
    height: 20px;
}

span:last-child {
    margin-bottom: 0px;
}

.upside {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-grow: 2;
    margin-left: 15px;
}

.botside {
    height: 50%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 2;    
}


.w1 {
    width: 172px;
    margin-bottom: 8px;           
}

.w2 {
    width: 257px;      
}

.w3 {
    width: 100%;
    margin-bottom: 8px;
}

.w4 {
    width: 100%;
}
